<div class="row teacherName">
  <div class="col-md-6">
    <label>{{targetUser.firstName}} {{targetUser.lastName}} - {{targetUser.course.title}}</label>
  </div>
</div>
<div id="player"> Loading your player...</div>
<script>
  jwplayer('player').setup({
    file: "rtmp://127.0.0.1:2035/live/1234",
    primary: 'html5', width: "60%"
  });
        //include any of your Javascript API calls here
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div id="messageArea" class="row">
        <div class="col-md-4">
          <div class="well">
            <h3>Свързани потребители:
              <span class="list-group" id="users">{{user.username}}</span>
            </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h3>Описание на курса</h3>
            <ul class="list-group" id="users">
              <li>{{targetUser.course.description}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4" style="border-left:1px solid #000;height:500px">
<form id="messageForm">
  <div class="form-group">
    <label>Напишете съобщение:</label>
    <textarea class="form-control" id="message"></textarea>
    <br/>
    <input type="submit" class="btn btn-primary" value="Изпрати" onclick="updateScroll();">
</div>
</form>
<div class="chat" id="chat" style="overflow:scroll;">

</div>
</div>
</div>
</div>

<script>
                                                                          $(function () {
                                                                            var user = '{{user.username}}';
                                                                            var socket = io.connect();
                                                                            var $messageForm = $('#messageForm');
                                                                            var $message = $('#message');
                                                                            var $chat = $('#chat');
                                                                            var $users = $('#users');
                                                                            socket.on('users_count', function (data) {
                                                                              $('#users').text(data);
                                                                              console.log("Connection");
                                                                            });
                                                                            $messageForm.submit(function (e) {
                                                                              e.preventDefault();
                                                                              console.log('send message', user, $message)
                                                                              socket.emit('send message', JSON.stringify({ user: user, message: $message.val() }));
                                                                              $message.val('');
                                                                            });
                                                                            socket.on('new message', function (str) {
                                                                              var data = JSON.parse(str);
                                                                              $chat.append('<div class="well"><strong>' + data.user + ':</strong> ' + data.message + '</div>')
                                                                            });
                                                                          });
                                                                          function updateScroll() {
                                                                            var objDiv = document.getElementById("chat");
                                                                            objDiv.scrollTop = objDiv.scrollHeight;
                                                                          }
</script>